footer#contact.contact-area
    .container
        .top-footer
            p This is a platform to find and book the services of excellent freelancers around the world. Although we have just launched    this platform, we aim to become the biggest and goto place for finding freelancers.
        .middle-footer
            .first-contact-section
                h6 Contact Us with the phone numbers below or send an email
            .second-contact-section
                h6
                    | +01 2345 6789 12
                    span |
                    | +01 2345 6789 12
            .third-contact-section
                .contact-social
                    ul
                        li
                            a.hover-target(href='')
                                i.fab.fa-facebook-square
                        li
                            a.hover-target(href='')
                                i.fab.fa-linkedin
        .bottom-footer
            p Copyright © 2020 All Rights Reserved.
