.message-contents
    .default-messages-container(style='display: none;')
        h4 No Conversation
    .all-messages-container
        if messageReceiverData
            - messageReceiverData.userToMessageImageSrc = '/images/userDefaultImage.png';
            - console.log('message pug: ', JSON.stringify(messageReceiverData))
            input(style='display: none;' id='clicked-receiver-key' value=JSON.stringify(messageReceiverData))
        .user-messages-side
        .user-messages-main-container-box
            .default-message-content
                h3 Start Messaging
                i.far.fa-comments
            div.all-different-conversations-container(style="display: none")