input:focus{
    border-radius: .5rem;
    border-color: #213e53;
}
.index-page-one{
    /*height: 35rem;*/
    display: grid;
    grid-template-columns: 65% 35%;
    background: url("../images/backgroung1.jpg") center;
    background-size: cover;
    padding: 0 10rem;
}
.index-page-one-left{
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}.index-page-one-left h1{
    font-size: 3.15rem;
    text-shadow: .11rem .11rem lightgrey;
    text-align: center;
}.index-page-one-left p{
    margin: 1rem 8rem 5rem 8rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    /*font-family:  Avenir Next Pro;*/
    font-family:  Matrice;
}
.booking-buttons button{
    width: 30rem;
    padding: 1rem;
    color: white;
    background-color: #8d2874;
    border-color: #8d2874;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
}
.booking-buttons button:hover{
    box-shadow: .1rem .1rem #8d2874;
}
.booking-buttons a{
    margin: 0 2rem;

}
/*
* Page Right
*/
.index-page-one-right{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.index-page-one-right img{
    height: 60vh;
    width: 55vh;
    object-fit: cover;
    object-position: top;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
/**********************************************************************************************************************/
/*****************************************    Index 2    **************************************************************/
/*.index-page-two{
    height: 15.5rem;
    display: grid;
    grid-template-columns: 65%;
}
.book-services-steps{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 2rem 8rem;
    align-items: center;
}
.index-page-two p{
    border: .2rem solid #213e53;
    margin: 1rem;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #213e53;
}
*/
/**********************************************************************************************************************/
/*****************************************    Index 3    **************************************************************/
.index-page-three{
    margin: 2rem 7rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-flow: row;
    grid-gap: 2rem;
}
.single-user-index-details{
    border: .2rem solid lightgrey;
    border-radius: .5rem;
}
.top-side{
    display: flex;
    align-items: center;
    padding: .5rem;
}
.top-side section{
    margin-left: 10%;
}
.top-side section span p{
    font-size: 1.5rem;
    font-weight: bolder;
}
.single-user-index-details>.top-side section span p{
    cursor: pointer;
}
.single-user-index-details>.top-side section span p:hover{
    text-decoration: underline;
}
.single-user-index-details .top-side img{
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    position: center;
    border-radius: 50%;
}
.middle-side{
    height: 23vh;
    padding: 1rem .5rem;
    border-top: .1rem solid lightgrey;
    border-bottom: .1rem solid lightgrey;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    /*overflow: hidden;*/
    /*overflow: auto;*/
}
.middle-side::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.middle-side div{
    display: flex;
    flex-wrap: wrap;
}
.middle-side .index-serviceAndPrice{
    border: .1rem solid black;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0 1rem 1rem 0;
}
.middle-side .index-serviceAndPrice p{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.middle-side .index-serviceAndPrice p:first-child{
    padding-right: .25rem;
    border-right: .1rem solid black;
}
.middle-side .index-serviceAndPrice p:last-child{
    padding-left: 1rem;
    border-left: .1rem solid black;
    font-weight: bolder;
    font-style: italic;
}
.bottom-side{
    text-align: center;
    padding: 1rem 0 .5rem 0;
}
.bottom-side button{
    min-width: 10rem;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .5rem;
}
.bottom-side button{
    background-color: #4CAF50;
    border-color: #4CAF50;
    margin-right: .5rem;
}
.bottom-side button:last-child{
    background-color: #213e53;
    border-color: #213e53;
    margin-left: .5rem;
}

/*********************************************************************************************************************/
/********************************************** Footer  **********************************************/
#contact{
    background-color: #213e53;
    font-size: 1.3rem;
}
#contact .container{
    color: white;
    text-align: center;
    padding: 2rem 0;
}

#contact .container .top-footer p{
    width: fit-content;
    margin: 0 20rem 2rem 20rem;
}
/*
#contact .container .middle-footer .first-contact-section h6, .container .second-contact-section h6{
    font-size: 1.3rem;
}
#contact .container .middle-footer .first-contact-section h6{
    border-top: .2rem solid white;
    margin: 0 35rem;
    padding-top: 1rem;
}
.container .second-contact-section{
    font-size: 1.3rem;
    margin: 1rem 0;
}

.container .second-contact-section span{
    margin: 0 1rem;
}
#contact .contact-social ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#contact .contact-social ul li a{
    transition: all 0.4s ease 0s;
}
#contact .contact-social ul li a i{
    cursor: pointer;
    font-size: 3rem;
    margin: 0 1rem;
    color: white;
}
*/
.bottom-footer{
    border-top: .1rem solid white;
    margin: 1rem 3rem 0 3rem;
    padding-top: 1rem;
    font-size: 1.1rem;
}
